*.cpp
*.hpp
*.h
*.exe
*.linux
*.darwin
*.exe
*.arm
*.c
*.go
*.orig

# Visual Studio Code
debug
.vscode

*_headers
*_component

Examples/*.xml
*.txt
*.py
ACT.code-workspace
test/AbstractCAM.xml
test/dcamcomponents.xml
