*.exe
*.linux
*.linux32
*.linux64
*.darwin
*.exe
*.dylib
*.so
*.dll
*.arm
*.orig
*.class
*.jar
*.log
*.o
*.ppu
__pycache__

Examples/**/build
Examples/**/build-*
Examples/**/bin
Examples/**/obj

# Visual Studio Code
debug
.vscode

.DS_Store

# Jetbrains
.idea/
